
.datepicker {
    border-radius: 4px;
    left: 0;
    margin-top: 1px;
    padding: 4px;
    top: 0;
}
.datepicker:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 6px;
    position: absolute;
    top: -7px;
}
.datepicker:after {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 7px;
    position: absolute;
    top: -6px;
}
.datepicker > div {
    display: none;
}
.datepicker table {
    margin: 0;
    width: 100%;
}
.datepicker td, .datepicker th {
    border-radius: 4px;
    height: 20px;
    text-align: center;
    width: 20px;
}
.datepicker td.day:hover {
    background: none repeat scroll 0 0 #eeeeee;
    cursor: pointer;
}
.datepicker td.day.disabled {
    color: #eeeeee;
}
.datepicker td.old, .datepicker td.new {
    color: #999999;
}
.datepicker td.active, .datepicker td.active:hover {
    background-color: #006dcc;
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active.active:hover, .datepicker td.active.disabled, .datepicker td.active.disabled:hover, .datepicker td.active[disabled], .datepicker td.active[disabled]:hover {
    background-color: #0044cc;
    color: #ffffff;
}
.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active.active:hover {
}
.datepicker td span {
    border-radius: 4px;
    cursor: pointer;
    display: block;
    float: left;
    height: 54px;
    line-height: 54px;
    margin: 2px;
    width: 47px;
}
.datepicker td span:hover {
    background: none repeat scroll 0 0 #eeeeee;
}
.datepicker td span.active {
    background-color: #006dcc;
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover, .datepicker td span.active:focus, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
    background-color: #0044cc;
    color: #ffffff;
}
.datepicker td span.active:active, .datepicker td span.active.active {
}
.datepicker td span.old {
    color: #999999;
}
.datepicker th.switch {
    width: 145px;
}
.datepicker th.next, .datepicker th.prev {
    font-size: 21px;
}
.datepicker thead tr:first-child th {
    cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
    background: none repeat scroll 0 0 #eeeeee;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
    cursor: pointer;
    display: block;
    height: 16px;
    width: 16px;
}
